body {
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin:0 auto;
  overflow: scroll;
  font-size: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

#header{
  position: relative;
  height:110vh;
  background: #161415 url(../img/backgrounds/h_img.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;

}
.mouse-click{
  position: absolute;
}
.banner-text{
  padding-top: 40vh;
}
.logo{
  margin-bottom: 1rem;
}
.mouse-click{
  left: 50%;
  bottom: 3vh;
}
#aboutus{
  margin: 1.5rem;
}
#aboutus p{
  letter-spacing:1px
}
#services{
  min-height: 250px;
  background:url(../img/backgrounds/s_image.jpg) no-repeat top center;
  background-size: cover;
}
#services h3{
  padding-top: 3rem;  
}
#design-text,#dev-text,#product-text{
  display: none;
}
.projectName1,.projectName2,.projectName3,.projectName4,.projectName5,.projectName6,.projectName7,.projectName8{
  position: absolute;
  width: 80%;
  height:80%;
  top:3%;
  left:10%;
  border: 3px solid white;
  padding:0px 5px 5px;
  display: none;
}