body {
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
}

#header{
  position: relative;
  height: 115vh;
  background: #161415 url(../img/backgrounds/h_img.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  display: block;
  margin: auto;

}
.logo,.banner-text,.mouse-click{
  position: absolute;
}
.logo{
  top: 35vh;
  left: 47%;
}
.banner-text{
  top: 55vh;
  width: 100%;
}
.mouse-click{
  left: 50%;
  bottom: 3vh;
}
#aboutus{
  margin: 1.5rem;
}